In [1]:
import evoVAE.utils.seq_tools as st
import numpy as np
from sequence import *
from sym import *
import pandas as pd
from evoVAE.utils.seq_tools import write_fasta_file

In [31]:
def calc_pairwise_similarity(seq_path, wt_seq, wt_name):
    
    seqs = readFastaFile(seq_path)
    b62 = readSubstMatrix('../data/blosum62.matrix', Protein_Alphabet)

    wt = Sequence(sequence=wt_seq, 
                name=wt_name)

    results = []
    for seq in seqs:

        aln = alignGlobal(seq, wt, b62)

        wt_aln = aln.seqs[1]
        query = aln.seqs[0]

        count = 0 
        for x, y in zip(wt_aln, query):
            if x == y and x != "-" and y != "-":
                count += 1

        results.append(count / len(wt_aln))

    return results

# GB1 - removing low identity sequences

In [15]:
seqs = readFastaFile("/Users/sebs_mac/uni_OneDrive/honours/data/gb1/alns/gb1_all_extants.fasta")
b62 = readSubstMatrix('../data/blosum62.matrix', Protein_Alphabet)

wt = Sequence(sequence="MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRNGGELTNLLGNSETTLALRNEESATADLTAAAVADTVAAAAAENAGAAAWEAAAAADALAKAKADALKEFNKYGVSDYYKNLINNAKTVEGIKDLQAQVVESAKKARISEATDGLSDFLKSQTPAEDTVKSIELAEAKVLANRELDKYGVSDYHKNLINNAKTVEGVKELIDEILAALPKTDQYKLILNGKTLKGETTTEAVDAATAEKVFKQYANDNGVDGEWTYDDATKTFTVTEKPEVIDASELTPAVTTYKLVINGKTLKGETTTKAVDAETAEKAFKQYANDNGVDGVWTYDDATKTFTVTEMVTEVPGDAPTEPEKPEASIPLVPLTPATPIAKDDAKKDDTKKEDAKKPEAKKDDAKKAETLPTTGEGSNPFFTAAALAVMAGAGALAVASKRKED", 
              name="SPG1_STRSG")

results = []
for seq in seqs:

    aln = alignGlobal(seq, wt, b62)

    wt_aln = aln.seqs[1]
    query = aln.seqs[0]

    count = 0 
    for x, y in zip(wt_aln, query):
        if x == y and x != "-" and y != "-":
            count += 1

    results.append(count / len(wt_aln))

In [30]:
orignal_aln = st.read_aln_file("/Users/sebs_mac/uni_OneDrive/honours/data/gb1/alns/gb1_all_extants.aln")

orignal_aln["similarity"] = results
trimmed = orignal_aln[orignal_aln["similarity"] >= 0.32]
trimmed.drop_duplicates(subset=["sequence"], inplace=True)
trimmed

Reading the alignment: /Users/sebs_mac/uni_OneDrive/honours/data/gb1/alns/gb1_all_extants.aln
Checking for bad characters: ['B', 'J', 'X', 'Z', 'U']
Number of seqs: 3084

/var/folders/tt/p2_ty_j96x33hxxx4tfrnsq40000gn/T/ipykernel_3145/686222608.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed.drop_duplicates(subset=["sequence"], inplace=True)

,id,sequence,similarity
0,SPG1_STRSG/1-448,MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...,1.000000
1,UniRef100_Q93EM8/1-351,MEKEKKVKYFLRKSAFGLASVSAAFLVSGALENTITVSAE--TIPA...,0.386318
2,UniRef100_Q53975/1-351,MEKEKKVKYFLRKSAFGLASVSAAFLVSGALENTITVSAE--TIPA...,0.394790
3,UniRef100_A0A509DAN6/1-448,MEKEKKVKYFLRKSAFGLASVSAAFLVGSTVFAVDSPIEDTPIIRN...,0.984375
4,UniRef100_A0A448DI38/1-351,MEKEKKMKYFLRKSAFGLASVSAAFLVGTTLDTTMTVSAEPAGIIA...,0.396040
...,...,...,...
1446,UniRef100_UPI00109CE2B9/9-584,-------KHALRKAVTAAVLMGTAVTVGGALGTTTTVKANTVNRS-...,0.329020
1461,UniRef100_UPI000E0299F7/9-584,-------KHALRKAVTAAVLMGTAVTVGGALGTTTTVKANTVNRS-...,0.329020
1569,UniRef100_UPI000E01B0EE/71-481,----------------------------------------------...,0.325800
1685,UniRef100_Q53291/6-454,--------------------IAIAVAAGFATVAQAAVKEETPETPE...,0.415842
2223,UniRef100_UPI001192E24F/2-470,---KKKQLFSLRKLSVGIASVSLGTLLGGAAANAEDA-ATTQADKD...,0.320285

# GCN4 - removing low identify sequences

In [84]:
orignal_fasta = st.read_aln_file("/Users/sebs_mac/uni_OneDrive/honours/data/gcn4/alns/gcn4_extants.fasta")
wt = orignal_fasta[orignal_fasta["id"] == "GCN4_YEAST/1-281"]

sim = calc_pairwise_similarity("/Users/sebs_mac/uni_OneDrive/honours/data/gcn4/alns/gcn4_extants.fasta",
                         wt["sequence"][0], "GCN4_YEAST/1-281")

Reading the alignment: /Users/sebs_mac/uni_OneDrive/honours/data/gcn4/alns/gcn4_extants.fasta
Checking for bad characters: ['B', 'J', 'X', 'Z', 'U']
Number of seqs: 348

In [83]:
orignal_fasta["similarity"] = sim
trimmed = orignal_fasta[orignal_fasta["similarity"] >= 0.3]
#trimmed.drop_duplicates(subset=["sequence"], inplace=True)

/var/folders/tt/p2_ty_j96x33hxxx4tfrnsq40000gn/T/ipykernel_3145/3793472800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed.drop_duplicates(subset=["sequence"], inplace=True)

In [55]:
aln = st.read_aln_file("/Users/sebs_mac/uni_OneDrive/honours/data/gcn4/alns/gcn4_extants.aln")
aln = aln[aln["id"].isin(trimmed["id"])]

Reading the alignment: /Users/sebs_mac/uni_OneDrive/honours/data/gcn4/alns/gcn4_extants.aln
Checking for bad characters: ['B', 'J', 'X', 'Z', 'U']
Number of seqs: 348

,id,sequence
0,GCN4_YEAST/1-281,MSEYQPSLFALNPMGFSPLDGSKSTNENVSASTSTAKPMVGQLIFD...
1,UniRef100_A0A6V8SDC1/2-278,-SEYQPSLFALNPMGFSPLDGSKSTNENVSASTSTAKPMVGQLIFD...
2,UniRef100_P03069/2-278,-SEYQPSLFALNPMGFSPLDGSKSTNENVSASTSTAKPMVGQLIFD...
3,UniRef100_A0A6V8RYM2/2-278,-SEYQPSLFALNPMGFSPLDGSKSTNENVSASTSTAKPMVGQLIFD...
4,UniRef100_A0A7I9BU78/2-278,-SEYQPSLFALNPMGFSPLDGSKSTNENVSASTSTAKPVVGQLIFD...
...,...,...
334,UniRef100_UPI001796F7AF/207-451,----------------------------TGSIPRTPNMAFQDMLFD...
337,UniRef100_A0A225AWI0/242-529,---------------------------NYQKHQTRQQLQQHRRVMS...
338,UniRef100_A0A168D2N7/28-349,----------------AAQPQQQQQQQDASPVQQQTPLSSHDLFLG...
339,UniRef100_A0A8A3PJX0/130-364,-----------------------------------PNMVFQDMLFD...
341,UniRef100_A0A0E9NA19/184-435,----------------------------------------------...

In [56]:
st.write_fasta_file("gcn4_0.3_sim_extants_no_dupes.aln", aln)

# A4

In [61]:
orignal_fasta = st.read_aln_file("/Users/sebs_mac/uni_OneDrive/honours/data/a4_human/alns/a4_extants.fasta")

wt = orignal_fasta[orignal_fasta["id"] == "A4_HUMAN/1-770"]
sim = calc_pairwise_similarity("/Users/sebs_mac/uni_OneDrive/honours/data/a4_human/alns/a4_extants.fasta",
                          wt["sequence"][0], "A4_HUMAN/1-770")

Reading the alignment: /Users/sebs_mac/uni_OneDrive/honours/data/a4_human/alns/a4_extants.fasta
Checking for bad characters: ['B', 'J', 'X', 'Z', 'U']
Number of seqs: 5230

In [62]:
orignal_fasta["similarity"] = sim

/var/folders/tt/p2_ty_j96x33hxxx4tfrnsq40000gn/T/ipykernel_3145/817176472.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed.drop_duplicates(subset=["sequence"], inplace=True)

,id,sequence,similarity
0,A4_HUMAN/1-770,MLPGLALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGRLNMHMN...,1.000000
1,UniRef100_A0A8C0NLH2/76-826,VPTDGNAGLLAEPQVAMLCGKLRMHMNVQNGKWESDPLGTKTCIGS...,0.945525
2,UniRef100_A0A9B0U4N0/5-770,LALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGKLNMHMNVQNG...,0.972727
3,UniRef100_UPI001D058974/5-770,LALVLLAAWTARALEVPTDGNAGLLAEPQIAMFCGKLNMHMNVQTG...,0.974026
4,UniRef100_A0A2Y9G421/5-770,LALLLLASWTARALEVPTDGNAGLLAEPQVAMFCGKLNMHMNVQNG...,0.971429
...,...,...,...
5215,UniRef100_A0A060X624/1-614,GEYVSEALLVPDRCRFLHQEQMDACESYVYWHNIAKEACTADGLEL...,0.366359
5216,UniRef100_Q4RHS8/2-590,GPEPQLAEPQIAMFCGLQMLHMNLQTGQWEPDPQGRQGCFKDSHEI...,0.365340
5218,UniRef100_A0A922I753/27-791,FAYVEALAANLDTQLGHFQPMVAILCGHGKYQFLNEDNKWISDMDS...,0.310897
5219,UniRef100_A0A8C7XUV3/88-659,CEYVSETLLVPDRCRFLHREQMDACESYVYWHNIAKEACTADSLEL...,0.356132
5227,UniRef100_UPI0018E23C0C/9-590,EGEYVSEALLVPDRCRFLHQEQMNICESYVYWHNIAKEECTAENLE...,0.367442

In [81]:
trimmed = orignal_fasta[orignal_fasta["similarity"] >= 0.8]
trimmed.drop_duplicates(subset=["sequence"], inplace=True)

original_aln = st.read_aln_file("/Users/sebs_mac/uni_OneDrive/honours/data/a4_human/alns/a4_extants.aln")
original_aln = original_aln[original_aln["id"].isin(trimmed["id"])]

st.write_fasta_file("a4_0.8_sim_extants.aln",original_aln)

Reading the alignment: /Users/sebs_mac/uni_OneDrive/honours/data/a4_human/alns/a4_extants.aln
Checking for bad characters: ['B', 'J', 'X', 'Z', 'U']
Number of seqs: 5230

/var/folders/tt/p2_ty_j96x33hxxx4tfrnsq40000gn/T/ipykernel_3145/2062416754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed.drop_duplicates(subset=["sequence"], inplace=True)

In [82]:
original_aln

,id,sequence
0,A4_HUMAN/1-770,MLPGLALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGRLNMHMN...
1,UniRef100_A0A8C0NLH2/76-826,-------------------VPTDGNAGLLAEPQVAMLCGKLRMHMN...
2,UniRef100_A0A9B0U4N0/5-770,----LALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGKLNMHMN...
3,UniRef100_UPI001D058974/5-770,----LALVLLAAWTARALEVPTDGNAGLLAEPQIAMFCGKLNMHMN...
4,UniRef100_A0A2Y9G421/5-770,----LALLLLASWTARALEVPTDGNAGLLAEPQVAMFCGKLNMHMN...
...,...,...
3735,UniRef100_A0A3Q0DI20/1-654,-----------------------------------MFCGKLNMHMN...
3739,UniRef100_A0A2K5CBM1/19-681,----------------------------------------------...
3753,UniRef100_F6ZXB5/5-639,----LALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGRLNMHMN...
3788,UniRef100_A0A2I3MME2/5-654,----LALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGRLNMHMN...
3799,UniRef100_UPI0011AFDDEF/15-666,----------------------------------------------...

,id,sequence
0,A4_HUMAN/1-770,MLPGLALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGRLNMHMN...
1,UniRef100_A0A8C0NLH2/76-826,-------------------VPTDGNAGLLAEPQVAMLCGKLRMHMN...
2,UniRef100_A0A9B0U4N0/5-770,----LALLLLAAWTARALEVPTDGNAGLLAEPQIAMFCGKLNMHMN...
3,UniRef100_UPI001D058974/5-770,----LALVLLAAWTARALEVPTDGNAGLLAEPQIAMFCGKLNMHMN...
4,UniRef100_A0A2Y9G421/5-770,----LALLLLASWTARALEVPTDGNAGLLAEPQVAMFCGKLNMHMN...
...,...,...
5141,UniRef100_UPI0004D09BFB/2-551,----------------------------------------------...
5149,UniRef100_A0A091K624/2-548,----------------------------------------------...
5152,UniRef100_A0A7K9YLD1/2-550,----------------------------------------------...
5157,UniRef100_A0A851B5F5/3-549,----------------------------------------------...
5162,UniRef100_A0A091MN08/3-548,----------------------------------------------...